.Area {
  fill: #cccccc;
  stroke: #333333;
}

.Area:hover {
  fill: #aaaaaa;
  stroke-width: 2;
}

.VisitedArea {
  fill: #ffa500;
  stroke: #bb7200;
}

.VisitedArea:hover {
  fill: #dd9400;
  stroke-width: 2;
}

.tooltipShape {
  fill: yellow;
  width: 35px;
  height: 20px;
}

.tooltipShapeWith3Letter {
  fill: yellow;
  width: 50px;
  height: 20px;
}

.tooltipText {
  font-size: 14;
  fill: black;
  font-weight: bold;
}
