.header {
  position: sticky;
  height: 48px;
  padding-left: 10px;
  background-color: #f3f3f3;
}

.headerImg {
  width: 30px;
  height: 30px;
  margin: 9px;
}

.headerText {
  position: relative;
  display: inline;
  font-size: 25px;
  bottom: 12px;
  height: 48px;
}
